{% extends "base.html"%}
{% block page_content %}
<div class="jumbotron">
    <h3>Why Vertica Project?</h3>
    <p>
        As of March 2022, Vertica team has been suffering from incessent shutdown of process and servers that causes by 
        a lot of unknown reasons.
    </p>
    <p>
        Hoping that there will come a point where we can find out root cause of everything, now we decided that we need to muddle through in this period where there is no effective mechanism to prevent bad things from happening. And here comes Vertica Project.
    </p>
        


</div>
{% endblock %}