<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon_wmp.ico') }}" type="image/x-icon">
        <link rel="icon" href="{{ url_for('static', filename='favicon_wmp.ico') }}" type="image/x-icon">    
        <title>
                  
            {% block title %}Vertica Management{% endblock %}
        </title>
    </head>
    <body>
        {% block content%}
        <div class="container">
            {% block page_content %}{% endblock %}
        </div>
        {% endblock %}
    </body>
</html>
