{% extends "base.html" %} 
{% block title %}Vertica - operation history{% endblock %} 

{% block page_content %}

<table id="data" class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>USER</th>
            <th>EMAIL</th>
            <th>TIMESTAMP</th>
            <th>EXECUTION</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

{% endblock %} 
{% block scripts %} 
{{super()}}
<script>
    $(document).ready(function() {
        $('#data').DataTable({
            ajax: '/operation/table',
            columns: [{
                data: 'id',
                searchable: false
            }, {
                data: 'user'
            }, {
                data: 'email',
                orderable: false,
                searchable: false
            }, {
                data: 'timestamp',
                orderable: true,
                searchable: false
            }, {
                data: 'execution',
                searchable: true
            }],
        });
    });
</script>
{% endblock %}