{% extends "base.html" %}
{% block page_content %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Activity</th>
      </tr>
    </thead>
    <tbody>
        {% for operation in operations %}
      <tr>
        <th scope="row">{{ name }}</th>
        <td>{{ operation }}</td>
      </tr>
        {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block search %}
{{ search_form.hidden_tag() }}
{{ search_form.searchword(class="form-control mr-sm-2",placeholder="Activity Search") }}
{{ search_form.submit_search(class="btn btn-outline-success my-2 my-sm-0")}}
{% endblock %}